5g_venv/*
.ipynb_checkpoints
Data/*
Data_abs_only/*
!Data/.gitkeep
scripts/Results/*
!scripts/Results/.gitkeep
Results/__pycache__/*
__pycache__
scripts/models/__pycache__
scripts/__pychache__
../.idea
scripts/Results/*
scripts/Results_norm/*
Results_norm
scripts/Results_norm
*/__pycache__
wandb/*
!wandb/.gitkeep
Results/*
!Results/.gitkeep
.idea/*
*/.idea
distrib.ipynb
